@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --background: #F5F5F5;
    --subtitle-color: #464646;
    --nav-color: #707070;
    --text-color: #B4AD9E;
    --accent: #007BFF;
    --title-color:#626262;
}



:root {
    --body-font:"Playfair Display",sans-serif;
    --text-font:"Ubuntu".sans-serif;
}

body {
    font-family: var(--body-font);
    font-size: 14px;
}

.container {
    width: 906px;
    margin: 0 auto;
}

header {
    padding-top: 71px;
    padding-bottom: 92px;
}

.header-list {
    display: flex;
    gap: 100px;
    justify-content: center;
  }

.header-link {
    text-transform: uppercase;
    color: var(--nav-color);
    text-decoration: none;
}

.header-link:hover {
    color: var(--accent);
}

.hero {
    padding-bottom: 66px;
}

.hero-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 130px;
    column-gap: 65px;
    padding-bottom: 90px;
}

.hero-item {
    width: 420px;
}

.fotoblog {
    flex-basis: calc((100% - 65px) / 2);
}

.fotoblog-subtitle {
    font-weight: 100;
    color: var(--text-color);
    font-size: 14px;
    text-transform: uppercase;
    padding-top:62px;
    padding-bottom: 32px;
    font-weight: 300;
    font-size: 14px;
}

.fotoblog-title {
    font-size: 30px;
    color: var(--title-color);
    padding-bottom: 40px;
    font-family: var(--body-font);
}

.fotoblog-desc {
    color: var(--title-color);
    font-family: var(--body-font);
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    text-align: left;
}

.hero-button {
    color: var(--title-color);
    padding: 20px 48px;
    background-color: var(--background);
    border: 1px solid var(--title-color);
    display: block;
    margin: auto;
}