
$background: #F5F5F5;
$subtitle-color: #464646;
$nav-color: #707070;
$text-color: #B4AD9E;
$accent: #007BFF;
$title-color:#626262;  
$body-font: "Playfair Display", sans-serif;
$text-font: "Ubuntu", sans-serif;