.hero {
    padding-bottom: 66px;

    &__list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 130px;
        column-gap: 65px;
        padding-bottom: 90px;        
    }

    &__item {
        flex-basis: calc((100% - 70px) / 2);
    }

    &__button {
        color: $title-color;
        padding: 20px 48px;
        background-color: $background;
        border: 1px solid $title-color;
        display: block;
        margin: auto;
        font-family: $body-font;
    }
}




.fotoblog {
    
    &__subtitle {
        color: $text-color;
        text-transform: uppercase;
        padding-top: 62px;
        padding-bottom: 32px;
        font-weight: 300;
        font-family: $text-font;
    }

    &__title {
        font-size: 30px;
        color: $title-color;
        padding-bottom: 40px;
    }

    &__desc {
        color: $title-color;
        font-weight: 400;
        line-height: 100%;
        text-align: left;
        line-height: 19px;
    }
}
